<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Programming &#38; Design</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
      <div id="wrapper" class="container">
        <header>
          <h2>Borough of Manhattan Community College</h2>
          <h1>Media Arts &#38; Technology Department</h1>
        <nav>
          <ul id="nav-item">
            <li class="nav-item"><a href="../index.html">Home</a></li>
            <li class="nav-item"><a href="../templates/mmp.html">Multimedia Programming &#38; Design</a></li>
            <li class="nav-item"><a href="../templates/animation.html">Animation</a></li>
            <li class="nav-item"><a href="../templates/vat.html">Video Arts</a></li>
          </ul>
        </nav>
        </header>
<!--   Changing content area -->
        <div id="content">
            <img src="../images/multimedia-programming-and-design.jpg" height="60%" width="80%" alt="Multimedia Programming and Design">
            <h3>Multimedia Programming and Design</h3>
            <p>The Multimedia Programming and Design Program prepares students for careers in a variety of "multimedia industries", companies and institutions that develop, produce or market multimedia products, programs or services. The program instructs students in the design and programming of computer-based interactive products that incorporate text, graphics, sound,animationand video. It also develops different types of talent, both creative and technical,withthe imperative that each understands the work of the other so that they can collaborate effectively. Students must complete a specialization in multimedia programming, art and design or video production in addition to the general and core requirements.</p>
          </div>
            <p>Upon successful completion of the curriculum,studentsare awarded an Associate in Science degree (A.S.) and may transfer to senior institutions such as York, NYU or New York City Technical College.</p>
            
            <a href="http://www.bmcc.cuny.edu/media-arts/mmp_program.jsp">Course Listings</a>
            
<!--   footer area  -->
        <footer>
            Media Arts and Technology Dept.<br>
            199 Chambers Street, Room S622 New York, NY 10007 Phone: (212) 346-8525
        </footer>
    </div>
  </body>
</html>