<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Video Arts and Technology</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
      <div id="wrapper" class="container">
        <header>
          <h2>Borough of Manhattan Community College</h2>
          <h1><a href="../index.html">Media Arts &#38; Technology Department</a></h1>
        <nav>
          <ul id="nav-item">
            <li class="nav-item"><a href="../templates/mmp.html">Multimedia Programming &#38;     Design</a></li>
            <li class="nav-item"><a href="../templates/animation.html">Animation</a></li>
            <li class="nav-item"><a href="../templates/vat.html">Video Arts</a></li>
          </ul>
        </nav>
        </header>
<!--   Changing content area -->
        <div id="content">
            <img src="../images/video-arts-and-technology.jpg" alt="Video Arts and Technology">
            <h3>Video Arts &#38; Technology</h3>
            <p>The Video Arts and Technology Program provides a dynamic education in video, audio and television production. The program prepares students for positions in the entertainment industry, electronic journalism, audiovisual production companies, broadcast and cable networks, and corporate communications departments. It combines extensive hands-on experience with theoretical coursework in a comprehensive academic program.
<p>VAT students work in a digital environment in BMCC's state of the art television studios, audio studio, and postproduction laboratories. Students learn the entire process for creating professional video and audio programs from writing a script and creating a budget, to shooting a scene and editing a final cut. All VAT students do an internship at a professional media facility.</p>
<p>Upon successful completion of the requirements listed below, students earn an Associate in Science (A.S.) degree. Most courses in the Video Arts and Technology program (VAT courses) are restricted to students enrolled in the program.</p>
          </div>
            <a href="http://www.bmcc.cuny.edu/media-arts/vat_program.jsp">Course Listings</a>
          
<!--   footer area  -->
        <footer>
            Media Arts and Technology Dept.<br>
            199 Chambers Street, Room S622 New York, NY 10007 Phone: (212) 346-8525
        </footer>
    </div>
  </body>
</html>
